
.plane{
    position: absolute;
    top:100px;
    left:50px;
    width: 80px;
    height: 45px;
    background-image: url(plane.png);
    background-size: cover;
}

.hide{
    display: none;
}

.gameMsg{
    position: absolute;
    background-color: aliceblue;
    top:10%;
    left:20%;
    width: 60%;
    text-align: center;
    font-size:2rem;
}